:root {
  --accentColor: rgb(247, 82, 96);
}
body {
  background-image: url(" /* */ ");
  min-height: 100vh;
}

.hero{
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#container {
  margin: 20px auto; 
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  border-style: solid;
}

label{
  width: 100px;
  border: 2px solid black;
  justify-content: left;
  background-color: rgb(106, 233, 216);
  border-radius: 2px ;
  box-sizing: border-box;
  padding: 5px;
}

.btn {
  width: 100px;
  border: 2px solid black;
  justify-content: left;
  background-color: rgb(106, 151, 233);
  box-sizing: border-box;
  padding: 3px;
}

.btn:hover {
  width: 100px;
  border: 2px solid black;
  justify-content: left;
  background-color: rgb(233, 106, 106);
}

#startOver:hover {
  filter:brightness(110%);
  box-shadow: -0.2rem 0.225rem 0.7rem 0 #e088aa;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}


i {
  font-style: normal ;
}


#container {
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  border-style: solid;
  background-color: rgb(247, 82, 96);
}

.lower-container {
  display: flex;
  justify-content: center;
  margin: 500px auto;
}

.lower-container > * {
margin: 10px;
} 

.input-field {
  left: 30%;
  width: 200px;
}

.float-jobs {
  width: 400px;
  border: 2px solid black;
  justify-content: center;
  background-color: rgb(106, 233, 216);
  flex-direction: column;
}                                                                                                                                                                                    

.float-child {
  width: 400px;
  border: 2px solid black;                                                                                 
  justify-content: center;
  background-color: rgb(106, 233, 216);
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}
